#ib-container {
  .ib-result-area {
    text-align: center;

    .ib-result-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
  }

  .ib-preview-image {
    margin-top: 16px;
  }

  .ib-preview-image img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: var(--style-border);
  }
}
