.project-btn-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.project-primary-btn,
.project-secondary-btn,
.project-select-btn {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  line-height: 1;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }

  &.medium {
    padding: 8px 15px;
  }

  &.small {
    padding: 6px 12px;
    font-size: 0.85rem;
  }

  &.circle {
    border-radius: 50%;
  }

  &.round {
    border-radius: 50px;
  }

  .project-icon {
    margin-right: 8px;
  }
}

.project-primary-btn {
  background-color: var(--anzhiyu-theme);
  color: #ffffff;

  &.outline {
    background-color: transparent;
    border: 2px solid var(--anzhiyu-theme);
    color: var(--anzhiyu-theme);
  }
}

.project-secondary-btn {
  background-color: var(--theme-lightest);
  color: var(--anzhiyu-theme);
}

.project-icon-btn {
  color: var(--font-color);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.project-btns-container {
  display: flex;
  gap: 15px;

  &.center {
    justify-content: center;
  }

  &.small {
    gap: 10px;
  }
}

.project-select-btn {
  border-radius: 20px;
  background-color: var(--theme-lightest);
  padding: 8px 15px;
  font-size: 1rem;
  color: var(--anzhiyu-theme);

  &.active {
    background: var(--anzhiyu-theme);
    color: white;
    cursor: default;
  }
}

@media (max-width: 768px) {
  .project-btn-group {
    flex-direction: column;
    align-items: center;
  }

  .project-btns-container {
    gap: 10px;

    &.small {
      gap: 5px;
    }
  }

  .project-primary-btn,
  .project-secondary-btn {
    padding: 10px 12px;
  }

  .project-select-btn {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}

@media (any-hover: hover) {
  .project-primary-btn:hover:not(:disabled) {
    background-color: var(--theme-deeper);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--theme-lighter);
  }

  .project-primary-btn.outline:hover:not(:disabled) {
    background-color: var(--btn-bg);
    color: #ffffff;
  }

  .project-secondary-btn:hover:not(:disabled) {
    background-color: var(--theme-lighter-1);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--theme-lightest);
  }

  .project-icon-btn:hover:not(:disabled) {
    color: var(--anzhiyu-theme);
  }

  .project-select-btn:hover:not(.active) {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
