#td-container {
  .td-options {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  #td-diff-container {
    height: 600px;
    border: var(--style-border);
    border-radius: 8px;
    overflow: hidden;
  }

  .cursor {
    margin: 0;
  }
}
